/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

.toolbar #navigation {
  margin-top: 65px;
}

#navigation a {
  color: #fff;
  line-height: 3.5em;
  text-decoration: none;
  padding: 1.1em;
  font-size: 1.1em;
  font-family: 'Oxygen', sans-serif;
}

#navigation li:hover, #navigation li.active {
  background-color: #ff8533;
}

#top-bar {
  width: 100%;
  height: 3.8em;
  float: left;
  background-color: #01AEF0;
  border-bottom: 1px solid #2BA4D6;
}

#navigation {
  max-width: 1200px;
}

#main-menu {
  max-width: 800px;
}

#main-menu .clearfix:after {
  clear: none;
}

.view-frontpage-news {
  float: left;
  width: 450px;
  padding-left: 2em;
  margin-bottom: 40px;
}

.view-frontpage-news .view-content {
  max-height: 12em;
}

.view-frontpage-news h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 50pt;
  font-weight: 200;
  text-align: center;
  color: #ff8533;
  border-bottom: 5px solid #eee;
  text-transform: uppercase;
  line-height: normal;
  margin-top: 0;
  padding-bottom: 0.3em;

}

.view-frontpage-news .views-field-title {
  padding-left: 34px;
  min-height: 34px;
  padding-left: 3em;
  margin-bottom: 1em;
  background-image: url('../images/cloud-bullet.png');
  background-repeat: no-repeat;
  background-position: center left;
  line-height: 30px;
}

.view-frontpage-cloud-logo {
  width: 600px;
  content: " ";
  height: 15em;
  float: left;
  background-image: url('../images/openalliance-cloud.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#block-views-frontpage-who-and-why-block {
  clear: both;
  min-height: 18em;
  max-width: 100%;
  background: url("../images/whowhy_bg_full.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
  margin-bottom: 50px;
}

#block-views-frontpage-who-and-why-block h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 40pt;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  max-width: 600px;
  line-height: normal;
  margin: 0.5em 0 0 0;
}

.view-frontpage-who-and-why .attachment {
  width: 600px;
  max-width: 600px;
  min-height: 18em;
  float:left;
}

#who-and-why {
  float: left;
  max-width: 570px;
  width:100%;
  /*background-color: rgba(146, 222, 248, 1);*/
}

#block-views-frontpage-bazaar-items-block, #block-views-frontpage-feature-wishes-block, #block-views-frontpage-qa-block {
    display: inline-block;
    max-width: 33%;
    position: relative;
}

#block-views-frontpage-bazaar-items-block {
    margin-left: 40px;
    margin-right: 70px;
}

#block-views-frontpage-feature-wishes-block {
    margin-right: 70px;
}

#block-views-frontpage-bazaar-items-block .block__title.block-title,
#block-views-frontpage-feature-wishes-block .block__title.block-title,
#block-views-frontpage-qa-block .block__title.block-title {
    font-family: "Dosis",sans-serif;
    font-weight: 400;
    font-size: 30px;
    background-color: #ff6600;
    border-bottom: 4px solid #ff8533;
    border-top: 4px solid #ff8533;
    color: #ffffff;
    padding: 2px 15px;
    text-align: center;
    text-transform: uppercase;
}

#footer {
    background-color: #333333;
    max-width: 100%;
}
#footer > div {
    color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
}

#contact-info-footer > h2 {
    margin-left: 40px;
}

#footer > div p {
    color: #9aadb7;
}

#contact-info-footer > p {
    margin-left: 40px;
}
